@use 'base/typography' as *;
@use 'abstracts/mixins' as *;
@use 'colors/color-matrix' as *;

.surprise {
  @include li-item;

  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  max-height: 358px;
  padding: 24px;

  &__title {
    margin-bottom: 8px;
    color: $surprise-info-title;
  }

  &__text {
    width: 100%;
    padding-top: 8px;
    font-size: 14px;
    line-height: $line-height-lg;
    border-top: 1px solid $surprise-info-text-border-top-color;
    overflow: auto;
  }

  &__ai_thinking_text {
    margin-top: 24px;
    font-style: italic;
  }

  &__ai_proposals {
    margin-top: 24px;

    &__title {
      font-weight: bold;
    }

    &__content {
    }
  }

  &__ask_ai_button {
    margin-top: 24px;
  }
}
