<app-modal-layout-with-header
  [headerPictureName]="headerPictureName"
  [headerTitle]="headerTitle"
  [buttonText]="buttonText"
  (buttonAction)="onActionButtonClick()"
  (closeModal)="onCloseModal()"
>
  <div class="modal__content">
    <section class="modal__content-item">
      <h3 class="modal__title">Personal Information</h3>

      <app-personal-info
        class="modal__personal-info"
        [personalInfo]="personalInfo()"
      />
    </section>

    <section class="modal__content-item">
      <h3 class="modal__title">Wishlist</h3>

      @if (wishListInfo().interests) {
        <app-surprise-info [withAiHelp]="true" [text]="wishListInfo().interests || ''"/>
      } @else {
        <ul class="modal__wish-list">
          @for (wishListItem of wishListInfo().wishList; track $index) {
            <li
              app-item-card
              [text]="wishListItem.name"
              [link]="wishListItem.infoLink"
            ></li>
          }
        </ul>
      }
    </section>
  </div>
</app-modal-layout-with-header>
