@use "@assets/styles/_colors";
@use "@assets/styles/_variables";
@use "@assets/styles/_extends";

.surprise-item {
  padding: 24px;
  border-bottom: 1px solid colors.$g-200;
  border-radius: 8px;
  box-shadow: variables.$shadow-list-item;
  background-color: colors.$g-100;
  color: colors.$g-800;
  text-align: left;

  &__title {
    @extend %title-sm;
  }

  &__description {
    @extend %input-text;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid colors.$green-400;
  }

  &__ai_thinking_text {
    margin-top: 24px;
    font-style: italic;
  }

  &__ai_proposals {
    margin-top: 24px;

    &__title {
      font-weight: bold;
    }

    &__content {
    }
  }
}
